{% extends "_layouts/base.html" %}

{% block css %}
{{block.super}}
<style>
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
</style>
{% endblock css %}

{% block page_title %} IDC - Cloud Computing - Exercies 2{% endblock %}
{% block page_class %}home-page{% endblock %}


{% block header %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-cloud"></span>Cloud Computing</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/mysql">MySql</a></li>
        <li><a href="/dynamo">Dynamo</a></li>
      </ul>
      {% block navbar_extra%}
      {% endblock %}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% endblock %}

{% block content %}

  <h3>Students List</h3>

  <!-- Table -->
  <table class="table table-striped table-condensed" >
    <thead>
      {% block student_table_head%}
      <th>#</th>
      <th>Name</th>
      <th>ID</th>
      <th>Country</th>
      <th>City</th>
      <th>Age</th>
      <th>Faculty</th>
      <th>Photo</th>
      <th>Creation Date</th>
      {% endblock %}
    </thead>
    <tbody>
    {% block student_table_body %}
      {% for student in latest_students_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td> <a href="/{{app_name}}/students/delete/{{student.student_id}}" ><span class="glyphicon glyphicon-remove black"></a> {{ student.name }}</td>
          <td>{{ student.student_id }}</td>
          <td>{{ student.country }}</td>
          <td>{{ student.city }}</td>
          <td>{{ student.age }}</td>
          <td>{{ student.faculty }}</td>
          <td><img src="{{student.photo_url}}"/></td>
          <td>{{ student.creation_date }}</td>
        </tr>
      {% endfor %}
      {% block student_table_form %}
      <form action="/{{app_name}}/students/add" method="post" enctype="multipart/form-data">{% csrf_token %}
        <fieldset>
          <tr>
  	    <td>#</td>
	    {% for field in form %}
	    <td>{{ field }}</td>
	    {% endfor %}
	    <td><input type="file" name="student_photo" accept="image/*"></td>
	    <td/><!--extra column for creation_date-->
	  </tr>
	  <tr>
	    <td/><td><input type="submit" value="Submit"></td>
	    <td/><td/><td/><td/><td/><td/><td/>
	  </tr>
	  </fieldset>
        </form>
      {% endblock %}
    {% endblock %}
    </tbody>

{% endblock %}

{% block footer %}
<!-- clear the footer cause it gets stuck in the middle of the html-->
{% endblock %}
